---
layout: 
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="home">

    

    <div class="page-content">
      <div class="wrapper">
        <div class="home">


          <img src="images/cover.png" alt="Rails Performance Fieldbook" />

          <h1 id="cover-header">Rails Performance Fieldbook</h1>

          <ul class="post-list">
            <li>
              <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
            </li>
            {% assign posts = site.posts | sort: 'chapter' %}
            {% for post in posts %}
              <li>
                <h2>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.chapter }}. {{ post.title }}</a>
                </h2>
                <span class="post-meta">Updated {{ post.date | date: "%b %-d, %Y" }}</span>
              </li>
            {% endfor %}
          </ul>

          <p class="rss-subscribe">Subscribe to new chapters <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a> or email.</p>

          <a id="cover-logo" href="https://scoutapp.com" target="_blank"><img src="images/scout.png" /></a>

        </div>
      </div>
    </div>

    

  </body>

</html>
