/**
 * Styles specific to this field guide.
 */

 h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', san-serif;
  color: $purple;
  font-weight: bold;
 }

 h5 {
  font-size: 16px;
 }

.wrapper { 
  .post-sidebar {
    font-family: 'Roboto', san-serif;
    #toc {
      > ul {
        margin-left: 0;
      }
      h4 {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 15px;
      }
      &.fixed {
        position: fixed;
        top: 20px;
      }
      font-size: 13px;
      width: $sidebar-width;
      list-style-type: none;
      li {
        list-style-type: none;
        margin: 4px 0;
        /*font-weight: bold;*/
        border: 1px solid #e7e7e7;
        border-width: 1px 0 0 0;
      }
      a {
        color: gray;
        padding: 4px 20px;
        display: block;
        margin: 10px 0;
      }
      .active {
        > a {
          color: $purple;
          border-left: 2px solid #563d7c;
          font-weight: bold;
        }
      }
    }
  }

  .post-content {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    line-height: 180%;
    h3 {
      margin-top: 50px;
    }
    h4 {
      margin-top: 30px;
    }
  }
}

/**** toc overrides ****/

.post-sidebar nav[data-toggle=toc] .nav>.active:focus>a, nav[data-toggle=toc] .nav>.active:hover>a, nav[data-toggle=toc] .nav>.active>a {
      display: block;
    padding: 4px 20px;
}