---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">



  <div class="post-sidebar" itemprop="articleSidebar">
    
    <nav id="toc"><h4>Chapter Contents</h4></nav>
  </div>

  <div class="post-content" itemprop="articleBody">
      <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <span class="post-meta">Updated {{ page.date | date: "%b %-d, %Y" }}</span>
  </header>
    {{ content }}

    <h3 data-toc-skip>Subscribe for more</h3>
    <p>
      We're publishing chapters as we complete them. Enter your email address below to be notified of updates to the Rails Performance Fieldbook.
    </p>
    {% include mailchimp.html %}
  </div>


</article>

<script type="text/javascript">
  $(function() {
    initToc();
    fixToc();
    targetLinks();
  });

  function fixToc() {
    var $header = $("header");
    var $nav = $("#toc");
    var $footer = $("footer");
    $(window).scroll(function() {
      if (
        $('body').height() > 1000 &&
        ($('body').height() - $(window).height() > 200) &&
        $(window).scrollTop() >= $header.height() &&
        $footer.height() + $nav.height() < $(window).height() // otherwise toc overlaps the footer
      ) {
        $nav.addClass('fixed')
     } else if ($(window).scrollTop() < 100) {
       $nav.removeClass('fixed');
     }
  }); // window.scroll
  }

  function initToc() {
    var navSelector = '#toc';
    var $nav = $(navSelector);
    Toc.init({
      $nav: $nav, 
      $scope: $('.post-content')
    });
    $('body').scrollspy({
      target: navSelector
    });
  }

  function targetLinks() {
    $(".post-content a[href^='http']").attr('target','_blank'); 
  }
</script>
